@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  color: #333;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.wrap {
  margin: 0 auto;
  width: 1200px;
  background: #eee;
}
header {
  /* overflow: auto; */
  padding: 20px 0;
  background: lightblue;
}
header h1 {
  float: left;
}
header nav {
  float: right;
}
header nav ul{
  background: lightgoldenrodyellow;
  padding-top: 10px;
}

header nav li {
  float: left;
  margin-left: 30px;
  margin-right: 30px;
}
main {
  overflow: hidden;
}
main .cont {
  width: 30%;
  height: 200px;
  background: lightcyan;
  float: left;
  border: 1px solid #000;
  margin-right: 5%;
}
main .cont3 {
  margin: 0;
}
footer {
background: lemonchiffon;
height: 100px;
}
footer .foot1{
  float: left;
}
footer .foot3{
  float: right;
  margin-top: -30px;
}
footer .foot2{
  text-align: center;
  background: url() no-repeat 0 0;
  
}
